.account-container {
  position: relative;
  z-index: -2;
  left: 0;
  top: 130px;
  width: 100%;
  bottom: 0;
  background-color: rgb(249, 249, 249);
  
  div.account {
    display: flex;
    flex-direction: column;
    // margin-top: 130px;
    align-items: center;
  }

} 

.title-account {
  margin: 20px;
}

button, i, label, .select-circle {
  cursor: pointer;
}