.add-cart-item {
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index: 2;
  background-color: white;
}

.icon-button {
  background-color: white;
  color: lightgray;
  width: 10px;
}

.selection-button {
  background-color: rgb(242, 242, 242);
  color: rgb(75, 75, 75);
  border-radius: 25px;
  width: fit-content;
  height: 30px;
}   

.left-select-cart {
  margin-left: 30px
}

.name-color {
  display: flex;
  flex-direction: row;
  height: fit-content;
  margin-top: 150px;

  .option-title {
    margin: 0;
    margin-bottom: 8px;
  }
  
  .option-color {
    margin-left: 8px;
  }
}

.option-title {
  font-size: 20px;
}

.selection-photo {
  margin-top: 160px;
  width: 60%;
}

.selection-button {
  margin-top: 25px;
}

.option-desc {
  margin-top: 10px;
}

.add-cart-item {
  display: flex;
  flex-direction: row;
}