.cart-show {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 125px;
  right: 0;
  left: 0;
  background-color: rgb(248, 248, 248);
  
  .cart-item-index {
    display: flex;
    flex-direction: column;
    width: 660px;
    align-items: center;

  }
    
  #amount-count {
    margin-top: 40px;
  }
  
  h2.product-name {
    margin-top: 40px;
    font-size: 30px;
  }
  
  .icon-button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0;
    height: 25px;
    width: 25px;
  }
  
}

.cart-item-info {
  display: flex;
  position: relative;
  margin: 7px;
  width: 640px;
  height: 400px;
  background-color: white;
  padding: 10px;

  .item-picture {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .cart-picture {
      width: 80%;
    }
  }

  .cart-item-desc {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 10px;

    .section-title {
      margin-top: 30px;
      margin-bottom: 10px;
    }

    .option-color {
      font-size: 15px;
      margin: 0;
      margin-bottom: 30px;
    }

    .sub-total {
      border-top: 1px solid lightgray;
      position: unset;
      margin-top: 10px;
      // margin-bottom: 10px;
    }
    
    #sub {
      margin-top: 15px;
    }
  }
}

.popup-cont {
  width: 640px;
  padding: 10px;
  background-color: rgb(186, 219, 240);
  border: 1px solid darkgray;
  border-radius: 10px;
  justify-content: center;
  margin-bottom: 8px;

  p {
    font-size: 12px;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 8px;
  }
}

#item-name {
  width: min-content;
}

#info-tryon {
  height: 225px;
}

#sub-final {
  justify-content: flex-end;
}