.cart-show {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 130px;
  right: 0;
  left: 0;
  background-color: rgb(248, 248, 248);

  #price-num {
    width: 100%;
    text-align: left;
  }

  .cart-top {
    display: flex;
    flex-direction: row;
    width: 100%;

    .checkout-info {
      position: sticky;
      top: 0;
      width: 30%;
      margin-right: 85px;
      margin-top: 85px;
      padding-top: 25px;
      padding-bottom: 7px;
      align-self: flex-start;

      .fa-check {
        margin-right: 10px;
      }

      li {
        display: flex;
        flex-direction: row;
        font-size: 12px;
        padding: 10px;
      }

      .checkout-price {
        display: flex;
        flex-direction: column;
        padding-top: 25px;
        border-top: 1px solid lightgray;
        margin-top: 15px;
        
        .checkout-sub {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 10px;
        }

        p {
          font-size: 14px;
          font-weight: bolder;
        }
      }

    }
  }
  
  .cart-item-index {
    display: flex;
    flex-direction: column;
    width: 65%;
    align-items: center;
    margin: 0 75px;

  }
    
  #amount-count {
    margin-top: 40px;
  }
  
  h2.product-name {
    margin-top: 40px;
    font-size: 30px;
  }
  
  .icon-button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0;
    height: 25px;
    width: 25px;
  }
  
}

.cart-item-info {
  display: flex;
  position: relative;
  margin: 7px;
  width: 100%;
  height: 400px;
  background-color: white;
  padding: 10px;
  -moz-box-shadow:    0 0 10px 0 rgb(230, 230, 230);
    -webkit-box-shadow: 0 0 10px 0 rgb(230, 230, 230);
      box-shadow:         0 0 10px 0 rgb(230, 230, 230);

  .item-picture {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .cart-picture {
      width: 80%;
    }
  }

  
  .cart-item-desc {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 10px;
    
    .section-title {
      margin-top: 30px;
      margin-bottom: 10px;
    }
    
    .option-color {
      font-size: 15px;
      margin: 0;
      margin-bottom: 30px;
    }
    
    .sub-total {
      border-top: 1px solid lightgray;
      position: unset;
      margin-top: 10px;
      // margin-bottom: 10px;
    }
    
    #sub {
      margin-top: 15px;
    }
  }
}

.popup-cont {
  width: 640px;
  padding: 10px;
  background-color: rgb(186, 219, 240);
  border: 1px solid darkgray;
  border-radius: 10px;
  justify-content: center;
  margin-bottom: 8px;
  
  p {
    font-size: 12px;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 8px;
  }
}

#item-name {
  width: min-content;
}

#info-tryon {
  height: 225px;
}

#sub-final {
  justify-content: flex-end;
}

.item-cont {
  width: 100%;
}