// @import "~react-image-gallery/styles/scss/image-gallery.scss";

.index-body {
  position: absolute;
  top: 125px;
  right: 0;
  left: 0;
  bottom: 0;
}

.options-colors {
  display: flex;
  flex-direction: row;
}

.materials {
  width: 340px;
  height: 156px;
}

.top {
  display: flex;
  flex-direction: row;
  width: 200px;

  .picture-container{
    max-width: 200px;
    height: 100px;
    
    .pictures {
      max-width: 100%;
      width: 200px;
      margin-left: 50px;
      position: relative;
      
      .scroll-picture {
        max-height: 100%;
        max-width: 100%;
        width: 200px;
        object-fit: contain;
      }
      
    }
  }
  .scroll-picture {
  width: 650px;
  margin: 75px;
}

  .r-side {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: space-between;
  width: 200px;
  height: 370px;
  }

}

.middle-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  padding-top: 75px;
  padding-bottom: 85px;
  background-color: white;
  position: relative;
}

//DROP SHADOW SOURCE: https://css-tricks.com/almanac/properties/o/object-fit/
.middle-details:before, .middle-details:after {
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 10px lightgrey;
    -moz-box-shadow:0 0 10px lightgrey;
    box-shadow:0 0 10px lightgrey;
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.middle-details:after {
  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
// END SOURCE

button.purchase, button.try-on {
  width: 250px;
  height: 50px;
  margin-bottom: 20px;
}


p {
  font-size: 16px;
}

.details-picture {
  height: 200px;
  width: 200px;
  padding-left: 72px;
  border: 1px solid lightgray;
  margin-left: 100px;

}

.bottom-details {
  display: flex;
  flex-direction: row;

    .serif-details {
    font-size: 26px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 500px
  }
  
}

.bottom {
  max-width: 75%;
  align-items: center;
  justify-content: center;

  .bottom-note-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    margin-bottom: 20px;
  
    .bottom-note {
      width: 75%;
    }
  }

}
