.product-index {
  // display: flex;
  // flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-top: 130px;
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  column-count: 3;
  column-width: 400px;
  
  
  .product-tile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: auto;
    // height: auto; 
    // margin-top: 50px;
    // justify-content: center;
    align-items: center;
    align-content: center;
    
    h2.product-name {
      margin-top: 0;
    }

    a  {
      width: 100%;
      align-content: center;
    }
    
    div.tile-image {
      width: auto;
      height: 250px;

      // margin-left: 45px;
    }

    img {
      // max-width: 100%;
      // height: auto;
      object-fit: contain;
    }
    
    .tile-colors {
      display: flex;
      flex-direction: row;
      justify-content: center;


      .color-preview {
        text-align: center;
        margin: 20px;
        border: 1px solid lightgray;
        border-radius: 25%;
      }
    }

  }

}