// @import "~react-image-gallery/styles/scss/image-gallery.scss";

.index-body {
  // position: absolute;
  // top: 125px;
  // padding-right: 72px;
  // padding-left: 72px;
  // background-color: rgb(252, 252, 252);

  h5.serif {
    font-size: 26px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 500px
    // margin-left: 72px;
    // margin-right: 72px;
  }
}



.materials {
  width: 340px;
  height: 156px;
}





.top{
  display: flex;
  flex-direction: row;
  width: 150%;
  margin-top: 30px;
  margin-bottom: 70px;


  .pictures {
    width: 700px;
    margin-left: 50px;
    position: relative;
    
    .scroll-picture {
      // position: absolute;
      width: 700px;
      height: 320px;
      object-fit: scale-down;
    }

  }

  .r-side {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  justify-content: space-between;
  width: 200px;
  height: 370px;
  }

}

.middle-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  height: 200px;
  width: 100%;
  padding-top: 175px;
  padding-bottom: 175px;
  // box-shadow: 0px 0 10px -10px black;
  background-color: white;
  position: relative;
}

//DROP SHADOW SOURCE: https://css-tricks.com/almanac/properties/o/object-fit/
.middle-details:before, .middle-details:after {
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 10px lightgrey;
    -moz-box-shadow:0 0 10px lightgrey;
    box-shadow:0 0 10px lightgrey;
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.middle-details:after {
  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
// END SOURCE
button.purchase, button.try-on {
  width: 250px;
  height: 50px;
  margin-bottom: 20px;
}


p {
  font-size: 16px;
}

.details-picture {
  height: 200px;
  width: 375px;
  padding-left: 72px;
  border: 1px solid lightgray;
  margin-left: 100px;

}



.bottom-details {
  display: flex;
  flex-direction: row;
  
}
