.results-index {
  width: 100%;

  justify-content: center;
  align-self: center;
  justify-items: center;
  align-content: center;
  column-width: 250px;
  height: auto;
  margin: 50px auto 10px;


  .search-tile {
    position: static;
    display: flex;
    flex-direction: column;
    // min-width: 20%;
    height: 225px;
    -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
  }

  div.tile-image {
    display: flex;
    max-width: 100%;
    // height: 250px;
    align-content: center;
    justify-content: center;

    img {
      // max-width: 85%;
      // width: 500px;
      width: 80%;
      height: auto;
      // margin-top: 65px;
      margin-bottom: 15px;
      object-fit: fill;
    }
  }
}