.splash {
<<<<<<< HEAD
  position: relative;
  display: flex;
  align-items: center;
  // left: 0;
  top: 130px;
  width: 100%;
  height: auto;

  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
=======
  position: absolute;
  left: 0;
  top: 130px;
  width: 100%;
>>>>>>> 18e67994b24a50d8aa9e38abe0f5769f7d53274a

  button {
    background-color: white;
    color: black;
<<<<<<< HEAD
    margin: 5px;
  }

  img {
    // position: relative;
=======
  }

  img {
    position: absolute;
>>>>>>> 18e67994b24a50d8aa9e38abe0f5769f7d53274a
    width: 100%;
    height: auto;
  }

  .text-overlay {
    position: absolute;
    z-index: 2;
    top: 80px;
    right: 100px;
    align-items: center;

<<<<<<< HEAD

=======
    .splash {
      display: flex;
      align-items: center;
    }
>>>>>>> 18e67994b24a50d8aa9e38abe0f5769f7d53274a

    .banner-title {
      font-size: 55px;
      width: 400px;
    }

    button {
      border-radius: 50px;
      width: 150px;
      height: 35px;
      margin-right: 10px;
      margin-top: 10px;

      #men {
        margin-left: 30px;
      }
    }
  }

}