.splash {
  position: relative;
  display: flex;
  align-items: center;
  // left: 0;
  top: 130px;
  width: 100%;
  height: auto;

  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    background-color: white;
    color: black;
    margin: 5px;
  }

  img {
    // position: relative;
    width: 100%;
    height: auto;
  }

  .text-overlay {
    position: absolute;
    z-index: 2;
    top: 80px;
    right: 100px;
    align-items: center;



    .banner-title {
      font-size: 55px;
      width: 400px;
    }

    button {
      border-radius: 50px;
      width: 150px;
      height: 35px;
      margin-right: 10px;
      margin-top: 10px;

      #men {
        margin-left: 30px;
      }
    }
  }

}